* {
    margin: 0;
    padding: 0;
}



html {
    text-align: baseline;
    font-size: 16px !important;
}



body {
    font-family: $body-font;
    background-color: $bg-color;
    counter-reset: sidenote-counter;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;

}

.katex {
    font-size: 1em !important;
}

.button {
    background-color: $red;
    padding: 0.5em 1em;
    border: 0.25em solid $red;
    margin-right: 2em;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 0.75em;
    line-height: 0.75rem;
}

.button:link {
    text-decoration: none;
    color: white;
}

.button:visited {
    text-decoration: none;
    color: white;
}

.button:hover {
    border: 0.25em solid $red;
    background-color: $red;
    color: white;
    text-decoration: none;
}

.button:active {
    text-decoration: none;
    color: white;
}

nav {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    padding: 1.25em;
    padding-left: 0;
    font-size: 0.875em;
    font-family: $body-font;
    text-transform: uppercase;
    background-color: $bg-color;

    a {
        margin-right: 1.25em;
        color: $primary-color;
        text-decoration: none;

        &:visited {
            color: $primary-color;
        }

        &:active,
        &:focus,
        &:hover {
            color: $red;
            opacity: 1.0;
        }

    }

    a:last-child {
        margin-right: 0;
    }
}

b {
    font-weight: 600;
}

.authors-affils-resources {
    display: flex;
    flex-wrap: wrap;
    width: 55%;

}

.authors-affils-resources-item {
    width: 45%;
}

.authors-affils-resources-item>p {
    font-size: 0.75em;
    padding-left: 0em;
    line-height: 0.75rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.icon {
    font: inherit;
}

.citation {
    color: $red;
    font-size: 0.625em;
    line-height: 0.625rem;
    vertical-align: super;
}

#upper {
    text-transform: uppercase;
    margin-bottom: 2em;
    font-size: 0.75em;
}

h1 {
    font-weight: 600;
    margin-top: 2em;
    margin-bottom: 0em;
    font-size: 2.5em;
    line-height: 3.125rem;
}

h2 {
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1.4em;
    font-size: 1.75em;
    line-height: 2.1875rem
}

h3 {
    font-weight: 600;
    font-size: 1.25em;
    margin-top: 1.8em;
    margin-bottom: 1.4em;
    line-height: 1.5625rem;

}



hr {
    display: block;
    height: 0.0625em;
    width: 55%;
    border: 0;
    border-top: 0.0625em solid #ccc;
    margin: 1em 0;
    padding: 0;
}


p.subtitle {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1em;
    line-height: 1.5rem;
    display: block;
}


p.date {
    margin-top: 4em;
    margin-bottom: 1em;
    font-size: 0.75em;
    line-height: 1.125rem;
    display: block;
}


p.appendix-titles {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1em;
    line-height: 1.5rem;
    display: block;
    font-weight: 600;
}




article {
    padding: 5em 0em;
}

section {
    padding-top: 1em;
    padding-bottom: 1em;

}

section.page-info {
    padding-bottom: 3em;

}

p,
dl,
ol,
ul {
    font-size: 1em;
    line-height: 1.5rem;
}

p {
    margin-top: 1.4em;
    margin-bottom: 1.4em;
    padding-right: 0;
    vertical-align: baseline;
}


div.epigraph {
    margin: 5em 0;
}

div.epigraph>blockquote {
    margin-top: 3em;
    margin-bottom: 3em;
}

div.epigraph>blockquote,
div.epigraph>blockquote>p {
    font-style: italic;
}

div.epigraph>blockquote>footer {
    font-style: normal;
}

div.epigraph>blockquote>footer>cite {
    font-style: italic;
}

blockquote {
    font-size: 1em;
    line-height: 1.5rem;
}

blockquote p {
    width: 55%;
    margin-right: 2.5em;
}

blockquote footer {
    width: 55%;
    font-size: 0.75em;
    line-height: 0.9375rem;
}

section>h1,
section>h2,
section>h3,
section>p,
section>footer,
section>table {
    width: 55%;
}

section>dl,
section>ol,
section>ul {
    width: 50%;
    -webkit-padding-start: 5%;
}

dt:not(:first-child),
li:not(:first-child) {
    margin-top: 0.25em;
}



p.note {
    font-size: 0.75em;
    line-height: 0.9375rem;
    display: inline;
    float: left;
    clear: both;
    width: 95%;
    margin: 1em 2.5%;
    vertical-align: baseline;
    position: relative;


}

figure {
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
}

figcaption {
    clear: both;
    width: 100%;
    margin: 1em 0;
    font-size: 0.75em;
    line-height: 1.125rem;
    vertical-align: baseline;
    position: relative;
    color: $dark-gray-color;
}

figure.fullwidth figcaption {
    margin-right: 24%;
}


a {
    color: $red;
    text-decoration: none;

    &:visited {
        color: $red;
    }

    &:active,
    &:focus,
    &:hover {
        color: $red;
        opacity: 0.7;
    }
}

.site-logo>a {

    &:active,
    &:focus,
    &:hover {
        color: $primary-color;
    }
}



footer {
    margin-left: auto;
    margin-right: auto;
    height: 12.5em;
    font-size: 0.75em;
    line-height: 1.125rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}





img {
    max-width: 100%;
}

.sidenote,
.marginnote,
.infonote {
    float: right;
    clear: both;
    margin-right: -60%;
    width: 50%;
    margin-top: 0.3em;
    margin-bottom: 0;
    font-size: 0.75em;
    line-height: 1.125rem;
    vertical-align: baseline;
    position: relative;
    color: $dark-gray-color;
}



.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
    content: counter(sidenote-counter) " ";
    color: $red;
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 0.625em;
    line-height: 0.625rem;
    top: -0.5em;
    left: 0.1em;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    color: $red;
    font-size: 0.625em;
    line-height: 0.625rem;
    top: -0.5em;
}


blockquote .sidenote,
blockquote .marginnote,
blockquote .infonote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
}

div.fullwidth,
table.fullwidth {
    width: 100%;
}

div.table-wrapper {
    overflow-x: auto;
    margin: 0 0 3em 0;
}

pre,
pre code,
p code,
p pre code {
    font-family: $code-font;
    font-size: 1em;
    line-height: 1.25rem;
    -webkit-text-size-adjust: 100%;
}

pre.bibtex {
    font-size: 0.75em;
    line-height: 0.9375rem;
    font-family: $code-font;
    overflow-x: scroll;
    width: 55%;
    -webkit-text-size-adjust: 100%;
    background-color: rgba($light-gray-color, 0.5);
    border: rgba($light-gray-color, 1);
}




.marginnote>p code,
.sidenote>p code,
.infonote>p code {
    font-size: 0.625em;
    line-height: 0.78125rem;
}

.fullwidth {
    max-width: 90%;
    clear: both;
}

span.newthought {
    font-variant: small-caps;
    font-size: 0.75em;
}

span.texttt {
    font-family: $code-font;
}

label.sidenote-number {
    display: inline;
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

input.margin-toggle {
    display: none;
}

ol.bibliography {
    list-style-position: inside;
    padding-left: 0;
    width: 55%;
    font-size: 0.75em;
    line-height: 1rem;
    max-width: 55%;

}

ol.bibliography li {
    font: inherit;
    width: 100%;
}


ol.bibliography li:not(:last-child) {
    margin-bottom: 1em;
}

table,
table.booktabs {
    width: auto;
    border-spacing: 0;
    border-top: 0.125em solid black;
    border-bottom: 0.125em solid black;
}

.booktabs th,
th {
    border-bottom: 0.0625em solid black;
    padding: 0.65ex 0.5em 0.4ex 0.5em;
    font-weight: 400;
}

th,
td {
    font-size: 0.75em;
    line-height: 1.125rem;
}

.booktabs th.cmid,
th {
    border-bottom: 0.0625em solid lighten(black, 25%);
}

.booktabs th.nocmid {
    border-bottom: none;
}

.booktabs tbody tr:first-child td,
tr:first-child td {
    padding-top: 0.65ex;
}

.booktabs td,
td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
}

.booktabs caption,
caption {
    font-size: 0.625em;
    line-height: 0.78125rem;
    color: $dark-gray-color;
    text-align: left;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1ex;
    caption-side: top;
}

.booktabs tbody tr,
.booktabs thead tr th.l,
.booktabs td.l {
    text-align: left !important;
}

.booktabs tbody tr,
.booktabs thead tr th.c,
.booktabs td.c {
    text-align: center !important;
}

.booktabs tbody tr,
.booktabs thead tr th.r,
.booktabs td.r {
    text-align: right !important;
}

.table-caption {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.625em;
    line-height: 0.78125rem;
    color: $dark-gray-color;
}


@media (max-width: 1100px) {
    html {
        font-size: 15px !important;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 14px !important;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 13px !important;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 12px !important;
    }
}

@media (max-width: 720px) {
    body {
        width: 84%;
        padding-left: 8%;
        padding-right: 8%;
    }

    hr,
    section>p,
    section>footer,
    section>table {
        width: 100%;
        max-width: 100%;
    }

    pre>code {
        width: 100%;
        max-width: 100%;
    }

    section>dl,
    section>ol,
    section>ul {
        width: 100%;
    }

    figure {
        max-width: 100%;
    }

    figcaption,
    figure.fullwidth figcaption {
        margin: 1em 0;
        max-width: none;
    }


    blockquote {
        margin-left: 1.5em;
        margin-right: 0em;
    }

    blockquote p,
    blockquote footer {
        width: 100%;
    }


    label.margin-toggle:not(.sidenote-number) {
        display: inline;
        color: $red;
    }

    .sidenote,
    .marginnote {
        display: none;
    }

    .margin-toggle+.sidenote,
    .margin-toggle+.marginnote {
        display: inline-block;
        float: none;
        clear: both;
        width: 100%;
        margin: 1em 0;
        vertical-align: baseline;
        position: relative;
        text-align: left;
    }

    label {
        cursor: pointer;
    }

    div.table-wrapper,
    table {
        max-width: 100%;
    }

    img {
        max-width: 100%;
    }

    section>h1,
    section>h2,
    section>h3,
    section>p,
    section>footer,
    section>table {
        width: 100%;
    }

    .authors-affils-resources {
        width: 100%;
    }

    pre.bibtex {
        width: 100%;
    }

    ol.bibliography {
        width: 100%;
        max-width: 100%;
    }

}