@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");



/** Typography */
$body-font: "Open Sans", sans-serif;
$code-font: "Source Code Pro", monospace;

/** Colors */
$black-color: #000;
$white-color: #fff;
$dark-gray-color: #666666;
$medium-gray-color: #ccc;
$light-gray-color: #f4f4f4;
$red: #d2017aff;

/** Font Colors */
$primary-color: $black-color;
$text-color: $black-color;
$secondary-color: $white-color;

/** Background Colors */
$bg-color: $white-color;